<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basket</title>
    <link rel="stylesheet" href="/assets/css/collection.css">
</head>

<body>
    <header>
        <!-- 로고이미지 -->
        <div class="logo">
            <a href="/page/"><img src="/assets/img/로고2.png" alt="로고" width="80px"></a>
        </div>
    </header>
    <!-- 섹션 -->
    <section class="cart">
        <form action="/user/recall" method="post">
            <table class="cart__list">
                <!-- 테이블 헤드 -->
                <thead>
                    <tr>
                        <td><input type="checkbox" class="cart_checkbox">전체선택</td>
                        <td colspan="2">상품정보</td>
                        <td>옵션</td>
                        <td>상품금액</td>
                        <td>배송비</td>
                        <td>관리</td>
                    </tr>
                </thead>
                <!-- 테이블 바디 -->
                <tbody>
                    {% for item in order -%}
                    <tr class="cart__list__detail">
                        <td><input type="checkbox" name="selectedPrds" value={{item.PRD_NO}} class="cart_checkbox"></td>
                        <!-- 상품이미지 -->
                        <td><a href=""><img src="{{item.IMG_PATH}}"></a></td>
                        <td>
                            <p>{{item.PRD_NM}}</p>
                            <span class="price">{{item.M}}/{{item.D}}</span>
                        </td>
                        <td>
                            <span>수량</span>
                            <select name="cnt" class="cart_cnt">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </td>
                        <td><span class="price">{{item.PRD_PRICE}}원</span><br>
                        </td>
                        <td>{{item.DEL_PRICE}}</td>
                        <td><button type="button" onclick="location.href='/page/delPrds?PRD_NO={{item.PRD_NO}}'">삭제하기</button></td>
                    </tr>
                </tbody>
                {%- endfor %}
            </table>
            <div>
            </div>
            <!-- 버튼 -->
            <div class="cart__mainbtns">
                <button type="button" class="cart__bigorderbtn left" onclick="location.href='/page/'">쇼핑 계속하기</button>
                <button class="cart__bigorderbtn right">주문하기</button>  <!-- submit -->
            </div>
        </form>
    </section>
    <!-- js연결 -->
    <script src="/assets/js/collection.js"></script>
</body>

</html>