<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Delivery_Check_table.css">
    <script src="assets/js/Delivery_Check_table.js"></script>

</head>
<body>
    <div id="title">배 송 조 회</div>
    <div id="delivery">
        <div id="deliveryState">고객님의 상품이 배송 중 입니다</div>
    </div>  
    <!-- 주문 상품 -->
    <div class="product">
        <div id="product">
            <div id="productImage"><img src="./img/img.png" alt="img"></div>
            <div id="productName">[주문번호] [상품번호] 1인 가구를 위한 푹신한 블루 체어 </div>
        </div>
    </div>
    <!-- 택배회사, 판매자 정보 -->
    <div id="deliveryInfo">
        <table>
            <tr>
                <td>택배회사 : 한진택배</td>
                <td>송장번호 : 23928491010</td> 
                
            </tr>
            <tr>
                <td>판매자 : 에이스</td>
                <td>판매자 번호 : 02-1234-5959</td>
            </tr>
        </table>
        
    </div>  
    <!-- 배송 현황  -->
    <hr>
    <div id="deliveryCheck">
        <table>
            <tr>
                <th>시간</th>
                <th>현재위치</th>
                <th>배송완료</th>
            </tr>
            <tr>
                <td>7.5.12:25</td>
                <td>광주 북구 용봉</td>
                <td>배달완료</td>
            </tr>
            <tr>
                <td>7.5.11:45</td>
                <td>광주 북구 용봉</td>
                <td>배달중</td>
            </tr>
            <tr>
                <td>7.5.11:45</td>
                <td>광주 북구 용봉</td>
                <td>배달중</td>
            </tr>
            <tr>
                <td>7.4.21:47</td>
                <td>인천중Sub</td>
                <td>배송중(출고)</td>
            </tr>
        </table>
    </div>
</body>
</html>