<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/findId" method="post">
        name: <input name="name"><br>
        phone: <input name="phone"><br>
        <input type="submit" value="ID찾기">
    </form>
    <form action="/user/findPw" method="post">
        name: <input name="name"><br>
        phone: <input name="phone"><br>
        id: <input name="id"><br>
        <input type="submit" value="PW찾기">
    </form>
</body>
</html>