<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Find.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="logo">
        <a href="/page"><img src="/assets/img/로오고.png"></a>
    </div>

    <div id="bodyContain">
        <div id="container">
            <!-- ID찾기 -->
            <div id="findId"> 
                <div class="findText">아이디 찾기</div>
                    <div class="userInput">
                    <div class="answer">당신의 아이디는 "" 입니다</div>
                    <div id="findIdForm">
                    <form action="/user/findId" method="post">
                        <div class="name">  
                            <span class="label">이름</span> 
                            <input name="name">
                        </div>
                        <div class="number"> 
                            <span class="label">휴대폰번호</span>
                            <input name="phone">
                        </div>
                        
                        <input class="btn" type="submit" value="아이디 찾기">
                    </form>
                    </div>
                </div>
            </div>
        
            <!-- pw찾기 -->
            <div id="findPw"> 
                <div class="findText">비밀번호 찾기</div>
                    <div class="userInput">
                    <div class="answer">당신의 비밀번호는 ***입니다</div>
                    <div id="findPwForm">
                <form action="/user/findPw" method="post">
                    <div class="name">  
                        <span class="label">이름</span> 
                        <input name="name">
                    </div>
                    <div class="number"> 
                        <span class="label">휴대폰번호</span>
                        <input name="phone">
                    </div>
                    <div id="id"> 
                        <span class="label">아이디</span>
                        <input name="id">
                    </div>
                    <input class="btn" type="submit" value="비밀번호 찾기">
                </form>
                </div>
            </div>

        </div>
        </div>
    </div>
    
</body>
</html>