<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원 가입 페이지</h1>
    <form action="/user/Join" method="post">
        ID : <input name="id"><br>
        PW : <input type="password" name="pw"><br>
        PW 확인 : <input type="password" name="pwr"><br>
        NICK : <input name="nick"><br>
        전화번호 입력 : <input name="phonenum"><br>
        (ID, PW 찾을 때 쓰입니다)<br><br>
        <input type="reset" value="초기화">
        <input type="submit" value="회원가입!">
    </form>
    <button><a href="/page/Login">로그인 하러 가기!</a></button>
</body>
</html>