<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Login.css">
</head>
<body>
    <!-- 로고 클릭 시  메인 페이지로 이동-->
    <div id = "logo"><a href="/page"><img src="/assets/img/로오고.png" alt=""></a></div>
   
    <!-- 로그인 창 -->
    <div id = "container">
        <div id ="login_main">
            <div id = "top"><h2>LOGiN</h2></div>
            <div id="loginForm">
                <form action="/user/login" method="post">
                    <div id="id">
                        <span class="label">아이디</span>
                        <input type="text" id="inputId" name="inputId" placeholder="  아이디를 입력하세요" size="30" autocomplete="off">
                    </div>
                    <div id="pw">
                        <span class="label">비밀번호</span>
                        <input type="password" id="inputPw" name="inputPw" placeholder="  비밀번호를 입력하세요" minlength="1" size="30" autocomplete="off">
                    </div>

                    <div id="err">  
                        <h6 id="errMsg">아이디 또는 비밀번호를 잘못 입력했습니다<br>
                            입력하신 내용을 다시 확인해주세요.
                        </h6>
                    </div>
                    
                    <input type="submit" id="loginButton" value="로그인">
                </form>
                <a href="/page/Join"><button>회원가입</button></a>
                <a href="/page/Find"><button>아이디 찾기</button></a>
            </div>
        </div>
    </div>
<!-- {%if loginFlag !== 0%}  {%endif%} -->
    <script src="/assets/js/Login.js"></script>

</body>
</html>