<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/recall.css">
    <script src="/assets/js/recall.js"></script>
</head>

<body>
    {% extends "Header.html" %}
    {% block content %}
    <header>
        <h1>수거신청</h1>
    </header>
    <div class="recall_body">
    <form action="">
        <div class="recall_container">
            <table>
                <tbody>
                    <tr>
                        <th>고객명</th>
                        <td colspan="3">
                            <div><input type="text" name="name" title="고객명 입력" value="" required></div>
                        </td>
                    </tr>
                    <tr>
                        <th>휴대전화</th>
                        <td colspan="3">
                            <div class="phone_container">
                                <div>
                                    <select name="phone_01" title="항목 선택">
                                        <option value="010">010</option>
                                        <option value="011">011</option>
                                        <option value="016">016</option>
                                        <option value="017">017</option>
                                        <option value="018">018</option>
                                        <option value="019">019</option>
                                    </select>
                                </div>
                                <span class="behind">-</span>
                                <div>
                                    <input type="text" class="numeric" name="phone_02" title="번호 입력" maxlength="4"
                                        value="" required>
                                </div>
                                <span class="behind">-</span>
                                <div>
                                    <input type="text" class="numeric" name="phone_03" title="번호 입력" maxlength="4"
                                        value="" required>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>
                            <div>
                                <input class="inputBox" type="text" id="sample6_postcode" placeholder="우편번호" required>
                                <input class="inputBox" type="button" onclick="sample6_execDaumPostcode()"
                                    value="우편번호 찾기" style="height: 40px;"><br>
                                <input class="inputBox" type="text" id="sample6_address" placeholder="주소" required><br>
                                <input class="inputBox" type="text" id="sample6_detailAddress" placeholder="상세주소" required>
                                <input type="text" class="inputBox" id="sample6_extraAddress" placeholder="참고항목">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>수거 희망일자</th>
                        <td>
                            <div>
                                <input type="date" id="date" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>메모</th>
                        <td>
                            <div>
                                <textarea name="" id="" cols="50" rows="10"></textarea>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button-container">
            <a href=""><button type="button">이전페이지</button></a>
            <button>수거신청</button>
        </div>
    </form>
</div>
    <!-- 주소 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    {% endblock %}
</body>

</html>